@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*Colors*/
:root {
  --White: hsl(0, 0%, 100%);

  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);

  --Brown-800: hsl(14, 45%, 36%);

  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);
}
body {
  font-size: 16px;
  font-family: "Outfit";
  font-weight: 400;
}
.container{
  width: 375px;
  line-height: 2;
}
.container-2{
  padding: 0 2rem;
}
img{
  width: 375px;
}
section{
  margin: 2rem 0;
}
h1{
  font-size: 2rem;
}
h3{
  color: var(--Rose-800);
}
.preparation{
  background-color: var(--Rose-50);
  padding: 1rem;
}
.time li{
  margin-left: 1rem;
}
.time li::marker{
  color: var(--Rose-800);
}

h2{
  font-family: "Young-serif";
  color: var(--Brown-800);
}
ul li::marker{
  color: var(--Brown-800);
}
ul li{
  margin-left: 1rem; 
}
section:nth-of-type(4){
  border-top: 1px solid var(--Stone-100);
}
section:nth-of-type(5){
  border-top: 1px solid var(--Stone-100);
}
span{
  font-weight: bold;
}
ol li::marker{
  color: var(--Brown-800);
}
ol li{
  margin-left: 1rem;
}
table tr td {
  border-bottom: 1px solid var(--Stone-150);
  padding: 0 2rem;
  width: 100%;
}
table tr .data{
  color: var(--Brown-800);
  padding-right: 6rem;
}

