*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.formulario{
    background-color: #013254;
    text-align: center;
    padding: 20px 20px;
    border-radius: 20px;
    margin: 10% 0;
    box-shadow: 10px 10px 10px 5px black;
}
.formulario h1{
    text-shadow: 5px 5px 5px black;
}
body{
    background-color: #0d1117;
    color: #c7c7c7;
    font-family: Arial , sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.formulario label, input{
    display: inline-block;
    padding: 10px 15px;
}
.formulario input{
    background-color: #c7c7c7;
    box-shadow: 5px 5px 5px #000000;
}
.formulario label{
    text-shadow: 5px 5px 5px black;
}
.formulario input:focus{
    opacity: 0.9;
}
.formulario input , button{
    border-radius: 5px;
    border: none;
    outline: none;
}
.formulario button{
    cursor: pointer;
    padding: 10px;
    margin: 0 10px;
    font-weight: bold;
    box-shadow: 5px 5px 5px #000000;
}
.formulario button:hover{
    opacity: 0.9;
}
.formulario .result{
    font-size: 50px;
    text-shadow: 5px 5px 5px black;
}
@media screen and (max-width: 500px){
    .formulario input , button{
        width: 100%;
    }
    .formulario button{
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
    }
}