@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit";
}

body {
    background-color: hsl(217, 54%, 11%);
}
.card{
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-direction: column;
    width: 25rem;
    align-items: center;
    padding: 1.5rem;
    border-radius: 1rem;
}
h2{
    color: hsl(0, 0%, 100%);
}
p,span{
    color: hsl(215, 51%, 70%);
}
.main-image{
    width: 15rem;
    border-radius: 0.5rem;
}
.avatar{
    width: 2rem;
}
.autorname{
    color: hsl(0, 0%, 100%);
}
.autor-info{
    display: flex;
    margin-top: 1rem;
}
.extra-info{
    margin: 1rem 0;
}
hr{
    width: 15rem;
}